<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ymira's Login</title>

    <link rel="stylesheet" href="/../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>


<body>
    <div class="login">
        <div class="above_header">
            <div class="login_title">
                <h1>Ymira's Plans</h1>
            </div>

        </div>

        <div class="circular_image">
            <img class="man_face" src="/../images/ymira.png">
        </div>


        <div class="below_header">
            <form action="/login" method="post">
                <div>
                    <div class="username">
                        <input type="text" name="username" placeholder="Your name" class="username" required>
                    </div>

                    <div class="password">
                        <input type="text" name="password" placeholder="Your password" class="password" required>
                    </div>

                    <div>
                        <button class="login_button" type="submit">Login</button>
                    </div>
                </div>
            </form>

            <img class="white_tulips" src="/../images/white_tulips.png">
            <div>
                <p class="quote1">"Imkansızlıklar daima imkan dahilindedir."</p>
            </div>
        </div>


    </div>




</body>

</html>